.item {
    display: flex;
    flex-direction: row;
    min-width: 0;

    background-color: #0d161f;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #f4a2617f;
    padding: 4px;
}

.profilePicture {
    display: flex;
    flex-direction: column;
    height: 64px;
    aspect-ratio: 1;
    margin-left: 4px;

    align-self: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #303f4e;
    border-radius: 16px;
}

.body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 2px;
    margin-left: 8px;
    flex: 1 1;
}

.to {
    color: #aaa;
    font-size: 12px;
}

.fileName {
    color: #aaa;
    font-size: 12px;
}

.content {
    color: #fff;
    word-break: break-all;
    font-size: 16px;
    line-height: 1.15em;
    height: 2.3em;
    overflow: hidden;
}
