.splashScreen {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-app-region: drag;
}

.logo {
    width: 250px;
    height: 250px;
    -webkit-user-drag: none;
    -webkit-app-region: none;
}
