.frame {
    display: flex;
    flex-direction: column;

    flex: 1 1;

    border-width: 2px;
    border-style: solid;
    border-color: #f4a2617f;
    background: linear-gradient(50deg, #7f5a83, #0d324d);
    overflow: hidden;
    transition: border-radius 0.4s cubic-bezier(0, 0.99, 0.32, 1.16);
}
