@use '../../../common/base';

.screen {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    padding: 4px;
}

.backButtonIcon {
    color: #fff;
    font-size: 20px;
}

.errorMessage {
    margin-bottom: 16px;
    color: #e63333;
    font-weight: bold;
}

.panelBody {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 8px;
}

.items {
    width: 400px;
}

.itemGroup {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 20px;
    color: #fff;
    margin-bottom: 8px;
    width: 100%;
}
