.windowContent {
    display: flex;
    flex-direction: column;

    flex: 1 1;
}

.modalContainer {
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    z-index: 10;
}

.dismissOverlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
