@use '../../../common/base';

.modal {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 8px;

    flex-direction: column;

    background-color: #0d161f;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #f4a2617f;
    overflow: hidden;
    padding: 16px;
    align-items: center;
    width: 400px;
    max-height: 600px;
}

.title {
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inputs {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.pfp {
    height: 100%;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #1a2633;
    border-radius: 16px;
    border-color: #f4a2617f;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    overflow: hidden;
}

.pfp:hover {
    filter: drop-shadow(2px 2px 6px #1a1a1a);
    transform: scale(1.05);
}
.pfp:active {
    filter: drop-shadow(2px 2px 1px #1a1a1a);
    transform: scale(0.95);
}

.pfpIcon {
    font-size: 20px;
    color: #fff;
}

.pfp:hover .removePFPIcon {
    flex: 1 1;
    width: 100%;
    display: block;
    background-color: #1a2633;
}

.removePFPIcon {
    display: none;
    font-size: 20px;
    color: #e63333;
}

.buttons {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8px;
}

textarea {
    resize: none;
}

textarea::-webkit-resizer {
    display: none;
}

textarea::-webkit-scrollbar-button {
    height: 8px;
    width: 8px;
}

.errorMessage {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    justify-content: center;
    color: #e63333;
    font-weight: bold;
}
