.clearLink {
    text-decoration: underline;
    color: #bcbcbc;
    font-size: 16px;
    cursor: pointer;
}

.clearLink:hover {
    font-size: 18px;
}

.outboxItemList {
    flex: 1 1 0;
    display: grid;
    grid-auto-rows: 82px;
    grid-gap: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4px 2px 0px 4px;
    margin-right: 2px;
    margin-bottom: 4px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #1a2633;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #0d161f;
    border-radius: 5px;
}

::-webkit-scrollbar-button {
    width: 4px;
    height: 4px;
    background-color: transparent;
}
