.outboxItemList {
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    gap: 4px;

    flex: 1 1 0;

    overflow-y: auto;
    overflow-x: hidden;
    margin: 4px;
    margin-right: 2px;
    padding-right: 2px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #1a2633;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #0d161f;
    border-radius: 5px;
}

::-webkit-scrollbar-button {
    width: 4px;
    height: 4px;
    background-color: transparent;
}
